/* real active css */

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.nav {
  height: 40px;
}

.nav .navbar {
  background: #1d1d1f;
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: block;
}

.nav .navbar ul {
  background: #1d1d1f;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.2em;
  height: 8px;
}

.nav .navbar ul li {
  list-style: none;
}

.nav .navbar ul li,
.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.Warning {
    background: #0071E3;
    padding-top: 20px;
    margin: 0px auto;
    color: white;
    height:25px;
    line-height: 10px;
}
.Warning .covid {
    font-size: 14px;
    margin: 0px auto;
    text-align: center;
}
.ShopO {
    line-height: 10px;
       margin: 0px auto;
    color: black;
    text-align: center;
}
.ShopO p{
    font-size: 14px;
}
.ShopO p a{
    color: blue;
}
.ShopO p a:link{
    text-decoration: none;
}
.ShopO p a:hover{
    text-decoration: underline;
}
.ShopO p a:active{
    text-decoration: underline;
}

      .container {
				position: relative;
				text-align: center;
				color: blue;
			}
			.link0 {
				position: absolute;
				top: 0%;
				left: 40%;
			}
			.link01 {
				position: absolute;
				top: 0%;
				left: 55%;

			}
			.link1 {
				position: absolute;
				top: 5%;
				left: 40%;

			}
			.link2 {
				position: absolute;
				top: 5%;
				left: 55%;

			}
			.link3 {
				position: absolute;
				top: 100px;
				left: 20%;

			}
			.link4 {
				position: absolute;
				top: 100px;
				left:75%;

        		}
			.link5 {
				position: absolute;
				top: 650px;
				left: 20%;
			}
			.link6 {
				position: absolute;
				top: 650px;
				left:75%;
			}
			.link7 {
				position: absolute;
				top: 1250px;
				left: 20%;
			}
			.link8 {
				position: absolute;
				top: 1250px;
				left:75%;
			}

			center .container a:link {
				color: blue;
				font-weight: bold;
				font-size: 20px;
				font-family: Calibri;
				text-decoration: underline;
			}

		center .container a:hover,a:visited  { color: blue; }
			

			.h1 {
			background-color = black;
			text-align = center;
			color: red

			}
			.watch {
				background: black;
				padding: 1px;
				margin: 0px;
				color: gray;
				text-align: center;
			}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  color: #1d1d1f;
  font-family: "San Francisco","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  padding-top: 17px;
  padding-bottom: 21px;
}
footer ul {
  color: rgb(134, 134, 139);
  list-style-type: none;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
}
footer hr {
  background: #ccc;
  height: 1px;
  border: none;
  width: 95%;
}
.flex-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  background-color: #f1f1f1;
  line-height: 22px;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
  text-align: left;
  box-sizing: content-box;
  width: 10%;
}
.flex-column-section {
  padding-top: 24px;
}
.flex-column-section-title {
  font-size: 12px;
  color: rgb(29, 29, 31);
  font-weight: 600;
  text-align: left;
}
 .flex-column-row {
  text-align: left;
}
.flex-container a {
  font-size: 12px;
  color: rgb(81, 81, 84);
  text-decoration: none;
  font-family: inherit;
  font-weight: inherit;
  text-align: left;
}
.flex-container a:hover {
  text-decoration: underline;
}
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
