/* real active css */
html{
    margin: 0px;
    height: 100%;
    width: 100%;
}
body{
    margin: 0px;
    min-height: 100%;
    width: 100%;
}
nav{
    height: 50px;
    background: #1d1d1f;
}

.navbar{
    position: relative;
    margin: 0 auto;
    width:1000px;

}

.navbar ul{
    width: 100%;
    margin: 0;
    padding-right 0;
    display: flex;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
}

.navbar ul li, .navbar ul li a{
    color: #fff;
    line-height: 50px;
    text-decoration: none;
}
.Warning {
    background: #0071E3;
    padding: 1px;
    margin: 0px;
    color: white;
    text-align: center;
    
    }
  .ShopO {
    background: ;
    padding: 1px;
    margin: 0px;
    color: black;
    text-align: center;
   }
            .container {
				position: relative;
				text-align: center;
				color: blue;
			}
			.link0 {
				position: absolute;
				top: 0%;
				left: 40%;
			}
			.link01 {
				position: absolute;
				top: 0%;
				left: 55%;
				
			}
			.link1 {
				position: absolute;
				top: 50%;
				left: 40%;
				
			}
			.link2 {
				position: absolute;
				top: 50%;
				left: 55%;
			
			}
			.link3 {
				position: absolute;
				top: 100px;
				left: 20%;
				
			}
			.link4 {
				position: absolute;
				top: 100px;
				left:75%;
				
        		}
			.link5 {
				position: absolute;
				top: 650px;
				left: 20%;		
			}
			.link6 {
				position: absolute;
				top: 650px;
				left:75%;	
			}
			.link7 {
				position: absolute;
				top: 1250px;
				left: 20%;		
			}
			.link8 {
				position: absolute;
				top: 1250px;
				left:75%;	
			}
		
			a:link {
				color: blue;
				font-weight: bold;
				font-size: 20px;
				font-family: Calibri;
				text-decoration: underline;
			}
			
			a:hover { color: blue; }
			a:visited { color: blue; }
		
			.h1 {
			background-color = black;
			text-align = center;
			color: red
			
			}
			.watch {
				background: black;
				padding: 1px;
				margin: 0px;
				color: gray;
				text-align: center;
			}   
